@import url('../../assets/css/base.css');

.bot-web-chat {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  width: 100%;
  height: 100%;
  color: #24282b;
  font-size: 11px;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.bot-web-chat .user-request,
.bot-web-chat .server-response {
  display: inline;
  max-width: 75%;
  padding: 10px 15px;
  border-radius: .4em;
  font-size: 14px;
  clear: both;
  text-align: justify;
  word-wrap:break-word;
}

.bot-web-chat .server-response {
    float: left;
    border-radius: .4em;
    margin-right: 10px;
    margin-left: 10px;
  }

.bot-web-chat .user-request{
  float: right;
  border-radius: .4em;
  margin-right: 10px;
  margin-left: 10px;
}

.bot-web-chat .bot-web-chat_messages {
  position: absolute;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.bot-web-chat .bot-web-chat_messages-table {
  height: 100%;
  min-height: 100%;
  width: 100%;
}
.bot-web-chat .bot-web-chat_messages-table td {
  vertical-align: bottom;
}
.bot-web-chat #private_message {
  width: 100%;
  border: 0;
  font-size: 16px;
  font-weight: 300;
  margin: 0px;
  height: 55px;
  padding: 5px;
}
#divClick {
  cursor: pointer;
}
#winMessages::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ebebeb;
}

#winMessages::-webkit-scrollbar {
  width: 10px;
  background-color: #ebebeb;
}

#winMessages::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, var(--main-color)), 
    color-stop(0.72, rgb(0, 63, 88)), 
    color-stop(0.86, rgb(2, 64, 88))
  );
}

input:focus {
  outline: 0;
}

.historyContainer{
  border: 2px solid var(--main-color);
  border-radius: 100px;
  width: 100%;
  height: 48px;
}

.tipConversation{
  border: 2px solid var(--main-color);
  border-radius: 100px;
  width: 100%;
  height: 48px;
}
.colConver{
  background-color:var(--main-color);
}
.paragrahpNoti{
  padding: 2px 7px;
  border-radius: 50%;
  background-color: #FFFFFF; 
  color:var(--main-color); 
  font-weight:bold;
  font-size: 10px;
  position: absolute;
  right: 20px;
}
.columnConversations{
  position:absolute; 
  overflow-y:auto;  
  overflow-x:hidden; 
  width:100%; 
  height:100%;
}
.chatBubbleAgent{
min-width: 200px;
max-width: 500px;
text-align: right;
padding: 10px;
background: #FFFFFF;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px 0px 10px 10px;
}

.chatBubbleUser{
  min-width: 200px;
  max-width: 500px;
  padding: 10px;
  background: var(--main-color);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 10px 10px 10px;
  }
.chatBubbleAgentHistory{
min-width: 200px;
max-width: 200px;
text-align: right;
padding: 10px;
background: #FFFFFF;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px 0px 10px 10px;
}

.chatBubbleUserHistory{
min-width: 200px;
max-width: 200px;
padding: 10px;
background: var(--main-color);
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
border-radius: 0px 10px 10px 10px;
}
.modal-header {
    color:white;
    background-color: var(--main-color);
    border-radius: 10px 10px 0px 0px !important;
}
.modal-dialog {
  height: 100vh !important;
  display: flex;
}
.modal-body{
  background: #FAFAFA;
}

.modal-content {
  border: 0px !important;  
  width: 80% !important;
  margin: auto !important;
  height: fit-content !important;
  background-color: transparent !important;
}
.modal-footer{
  background-color: var(--main-color);
  border-radius: 0px 0px 10px 10px !important;
}
