<template>
  <div class="container pt-5 text-center">
    <div id="main">
      <h1 class="pb-3">Descargar Tiempos de conversación</h1>
      <date-range-picker
        v-on:submit="updateRanges"
        :allow-compare="false"
        class="pb-5"
      />
      <h5>Disponible para descargar</h5>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Fecha</th>
              <th scope="col">Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td v-if="fileName != ''">
                {{ fileName }}
              </td>
              <td v-if="locationFile != ''">
                <a :href="locationFile" download>Descargar Data</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import DateRangePicker from "@owumaro/vue-date-range-picker";
export default {
  components: {
    DateRangePicker
  },
  data: function() {
    return {
      locationFile: "",
      fileName: ""
    };
  },
  methods: {
    updateRanges: function(range) {
      console.log(range.startDate.toString());
      this.$parent.socket.emit("descargar-csv", {
        startDate: range.startDate.format("YYYY-MM-DD"),
        endDate: range.endDate.format("YYYY-MM-DD")
      });
    }
  },
  mounted() {
    this.$parent.socket.on("descargar-csv", fileName => {
      this.locationFile = `https://chatbots.montechelo.com.co/widget/upb/csv-files/${fileName}`;
      this.fileName = fileName;
    });
  }
};
</script>

<style scoped>
.daterangepicker-range {
  color: black !important;
}
.col-day {
  color: black !important;
}
</style>
