<template>
  <div id="main">
    <h1 class="pb-3">Grupos</h1>
    <div class="table-responsive" style="border-radius: 10px;">
      <table class="table text-center">
        <thead style="background: #ECECEC; color:var(--main-color);">
          <tr>
            <th><p>Id</p></th>
            <th><p>Nombre</p></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="group in groups" :key="group.id">
            <th>{{group.id}}</th>
            <td>{{group.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  name: "GroupsList",
  data: function() {
      return {
          localPathJToken: process.env.VUE_APP_LOCAL_TOKEN,
          localPathData: process.env.VUE_APP_LOCAL_DATA,
          pathServer: process.env.VUE_APP_URL_SERVER_EXP,
          groups: []
      }
  },
  beforeMount() {
    axios
      .post(
        this.pathServer + "/callAllGroups",
        {
          token: localStorage.getItem(this.localPathJToken)
        },
        {
          headers: {
            "Content-Type": "application/json",
            authorization:
              "Bearer " +
              JSON.parse(localStorage.getItem(this.localPathData)).jsonWebToken
          }
        }
      )
      .then(resp => {
        this.groups = resp.data;
      });
  }
};
</script>

<style scoped src="@/assets/css/base.css"></style>
