@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('../../assets/css/base.css');

body {
    font-family: 'Open Sans', sans-serif;
}

.sidenav {
    height: 100%;
    background-color: var(--main-color);
    overflow-x: hidden;
    z-index: 1400;
    /* padding-top: 20px; */
}

.inicio{
    color: var(--main-color);
    font-weight: bold;
}

.m-login{
    margin-top: 10%;
}

.s-label{
    font-size: 13px;
}

.button-login{
    font-weight: bold;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.42);
    border-radius: 100px;
    color: white;
    width: 100%;
    height: 38px;
}

.button-login:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.42);
    border-radius: 100px;
    color: white;
    width: 100%;
    height: 38px;
}

.input-style{
    background: #FFFFFF;
    padding-right: 30px;
    background-repeat: no-repeat;
    background-size: 40px 20px;
    background-position: right center;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

@media screen and (max-height: 450px) {
    .main{
        margin-left: 50%; 
    } 
    .sidenav{
        width: 100%;
        position: fixed;
        z-index: 1400;
        top: 0;
        left: 0;
    }
}

@media screen and (max-width: 767px) {
    .main{
        margin-left: 50%; 
    } 
    .sidenav{
        width: 100%;
        position: fixed;
        z-index: 1400;
        top: 0;
        left: 0;
    }
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 50%; 
    } 
    .sidenav{
        width: 100%;
        position: fixed;
        z-index: 1400;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 25%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}

.alert-danger {
    color: #BD1620 !important;
    background: #FDE6E6 !important;
    border-color: #FDE6E6 !important;
}
.alert {
    padding: 0.25rem 1.25rem !important;
    margin-bottom: 0.8rem !important;
    border: 1px solid transparent;
}

