<template>
  <div id="main">
    <h1 class="pb-3">Registrar Supervisor</h1>
    <div class="d-flex justify-content-center">
      <form v-on:submit.prevent="registrarSupervisor" class="form text-left">
        <div class="form-group">
          <label for="cedula">Cedula</label>
          <input
            type="number"
            class="form-control"
            placeholder="Cedula"
            id="cedula"
            v-model="cedula"
            required
          />
        </div>
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="nombre"
            placeholder="Nombre"
            v-model="name"
            required
          />
        </div>
        <div class="form-group">
          <label for="correo">Correo</label>
          <input
            type="email"
            class="form-control"
            id="correo"
            placeholder="Correo"
            v-model="email"
            required
          />
        </div>
        <div class="form-group">
          <label for="contraseña">Contraseña</label>
          <input
            type="password"
            class="form-control"
            id="contraseña"
            placeholder="Contraseña"
            v-model="password"
            required
          />
        </div>
        <div class="form-group">
          <button
            class="btn btn-secondary-project btn-lg btn-block rounded-pill"
            id="btnRegistrar"
            disabled
          >
            Registrar
          </button>
        </div>
      </form>
    </div>
    <!-- Modal -->
    <div class="modal-alerts">
      <div
        class="modal fade"
        id="alert"
        tabindex="-1"
        role="dialog"
        aria-labelledby="alert"
        aria-hidden="true"
        @click="closeAlert"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              {{ alertDangerMessage }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "register-supervisor",
  data: function() {
    return {
      localPathJToken: process.env.VUE_APP_LOCAL_TOKEN,
      pathServer: process.env.VUE_APP_URL_SERVER_EXP,
      localPathData: process.env.VUE_APP_LOCAL_DATA,
      tokenUser: undefined,
      cedula: undefined,
      name: undefined,
      email: undefined,
      password: undefined,
      alertDangerMessage: "",
      typeOfAlert: undefined
    };
  },
  methods: {
    validateFilledInputs: function() {
      var nodeList = document.querySelectorAll("input");
      var inputsHTML = Array.prototype.slice.call(nodeList);
      var filledInputs = {
        cedula: false,
        nombre: false,
        correo: false,
        contraseña: false
      };
      inputsHTML.forEach(element => {
        element.onkeyup = () => {
          inputsHTML.forEach(item => {
            if (item.value == "") {
              filledInputs[item.id] = false;
            } else {
              filledInputs[item.id] = true;
            }
          });
          if (
            filledInputs.cedula &&
            filledInputs.nombre &&
            filledInputs.correo &&
            filledInputs.contraseña
          ) {
            document.getElementById("btnRegistrar").disabled = false;
          } else {
            document.getElementById("btnRegistrar").disabled = true;
          }
        };
      });
    },
    registrarSupervisor: function() {
      axios
        .post(
          this.pathServer + "/saveSupervisor",
          {
            tokenUser: localStorage.getItem(this.localPathJToken),
            cedula: this.cedula,
            name: this.name,
            email: this.email,
            password: this.password
          },
          {
            headers: {
              "Content-Type": "application/json",
              authorization: `Bearer ${
                JSON.parse(localStorage.getItem(this.localPathData))
                  .jsonWebToken
              }`
            }
          }
        )
        .then(data => {
          this.cedula = undefined;
          this.name = undefined;
          this.email = undefined;
          this.password = undefined;
          this.alertDangerMessage = `Supervisor registrado exitosamente`;
          this.typeOfAlert = "SUCCESS";
          this.showAlert();
        })
        .catch(err => {
          this.alertDangerMessage = `Error al registrar supervisor`;
          this.typeOfAlert = "ERROR";
          this.showAlert();
        });
    },
    showAlert: function() {
      let alertHTML = document.querySelector("#alert");
      alertHTML.classList.add("show");
      alertHTML.style.display = "block";
    },
    closeAlert: function() {
      document.querySelector("#alert").classList.remove("show");
      document.querySelector("#alert").style.display = "none";
      if (this.typeOfAlert === "SUCCESS")
        this.$router.push({ name: "supervisores" });
    }
  },
  mounted: function() {
    this.validateFilledInputs();
  }
};
</script>

<style scoped src="@/assets/css/base.css"></style>
