<template>
  <div id="main">
    <h1 class="pb-3">Supervisores</h1>
    <div class="text-left mb-3">
      <button class="btn btn-primary-project" @click="goToCreateSupervisor">
        Crear
      </button>
    </div>
    <div class="table-responsive" style="border-radius: 10px;">
      <table class="table text-center">
        <thead style="background: #ECECEC; color:var(--main-color);">
          <tr>
            <th><p>Identificación</p></th>
            <th><p>Nombre</p></th>
            <th><p>Email</p></th>
            <th><p>Estado</p></th>
            <th><p>Acción</p></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="supervisor in supervisores" v-bind:key="supervisor.id">
            <th>{{ supervisor.id }}</th>
            <td>{{ supervisor.name }}</td>
            <td>{{ supervisor.email }}</td>
            <td>
              <div class="custom-control custom-switch">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customSwitch1"
                  v-model="supervisor.active"
                  disabled
                />
                <label class="custom-control-label" for="customSwitch1"></label>
              </div>
            </td>
            <td>
              <button
                class="btn btn-secondary-project"
                @click="modificarSupervisor(supervisor.id)"
              >
                Modificar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "supervisores",
  data: function() {
    return {
      localPathJToken: process.env.VUE_APP_LOCAL_TOKEN,
      localPathData: process.env.VUE_APP_LOCAL_DATA,
      pathServer: process.env.VUE_APP_URL_SERVER_EXP,
      supervisores: []
    };
  },
  methods: {
    modificarSupervisor(id) {
      this.$router.push({
        name: "supervisorUpdate",
        params: { id: id }
      });
    },
    goToCreateSupervisor() {
      this.$router.push({ name: "supervisor" });
    }
  },
  beforeMount() {
    axios
      .post(
        this.pathServer + "/callSupervisores",
        {
          tokenUser: localStorage.getItem(this.localPathJToken)
        },
        {
          headers: {
            "Content-Type": "application/json",
            authorization:
              "Bearer " +
              JSON.parse(localStorage.getItem(this.localPathData)).jsonWebToken
          }
        }
      )
      .then(resp => {
        this.supervisores = resp.data;
      });
  }
};
</script>

<style scoped src="@/assets/css/base.css"></style>
