<template>
  <div id="main">
    <h1 class="pb-3">Actualizar Supervisor</h1>
    <div class="d-flex justify-content-center">
      <form v-on:submit.prevent="actualizarSupervisor" class="form text-left">
        <div class="form-group">
          <label for="cedula">Cedula</label>
          <input
            type="number"
            class="form-control"
            placeholder="Cedula"
            id="cedula"
            v-model="cedula"
            disabled
          />
        </div>
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input
            type="text"
            class="form-control"
            placeholder="Nombre"
            id="nombre"
            v-model="name"
            required
          />
        </div>
        <div class="form-group">
          <label for="correo">Correo</label>
          <input
            type="email"
            class="form-control"
            placeholder="Correo"
            id="correo"
            v-model="email"
            required
          />
        </div>
        <div class="form-group text-center">
          <div class="custom-control custom-switch">
            <input
              type="checkbox"
              class="custom-control-input"
              id="estado"
              v-model="status"
            />
            <label class="custom-control-label" for="estado">Estado</label>
          </div>
        </div>

        <div class="form-group form-check text-center">
          <input
            type="checkbox"
            class="form-check-input"
            id="exampleCheck1"
            v-model="updatePassword"
          />
          <label class="form-check-label" for="exampleCheck1"
            >¿Actualizar Contraseña?</label
          >
        </div>

        <div v-if="updatePassword">
          <div class="form-group">
            <label for="contraseña">Nueva Contraseña</label>
            <input
              type="password"
              class="form-control"
              id="contraseña"
              placeholder="Contraseña"
              v-model="password"
              required
            />
          </div>
        </div>
        <div class="form-group">
          <button
            class="btn btn-secondary-project btn-lg btn-block rounded-pill"
            id="btnActualizar"
          >
            Actualizar
          </button>
        </div>
      </form>
    </div>
    <!-- Modal -->
    <div class="modal-alerts">
      <div
        class="modal fade"
        id="alert"
        tabindex="-1"
        role="dialog"
        aria-labelledby="alert"
        aria-hidden="true"
        @click="closeAlert"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              {{ alertDangerMessage }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "update-supervisor",
  data: function() {
    return {
      pathServer: process.env.VUE_APP_URL_SERVER_EXP,
      localPathJToken: process.env.VUE_APP_LOCAL_TOKEN,
      localPathData: process.env.VUE_APP_LOCAL_DATA,
      cedula: undefined,
      name: undefined,
      email: undefined,
      updatePassword: false,
      password: undefined,
      status: false,
      alertDangerMessage: "",
      typeOfAlert: undefined
    };
  },
  methods: {
    validateFilledInputs: function() {
      var nodeList = document.querySelectorAll("input");
      var inputsHTML = Array.prototype.slice.call(nodeList);
      var filledInputs = {
        cedula: false,
        nombre: false,
        correo: false,
        contraseña: false
      };
      inputsHTML.forEach(element => {
        element.onkeyup = () => {
          inputsHTML.forEach(item => {
            if (item.value == "") {
              filledInputs[item.id] = false;
            } else {
              filledInputs[item.id] = true;
            }
          });
          if (
            filledInputs.cedula &&
            filledInputs.nombre &&
            filledInputs.correo
          ) {
            document.getElementById("btnActualizar").disabled = false;
          } else {
            document.getElementById("btnActualizar").disabled = true;
          }
        };
      });
    },
    findUser: function(e) {
      if (e) e.preventDefault();
      axios
        .post(
          this.pathServer + "/searchSupervisor",
          {
            tokenUser: localStorage.getItem(this.localPathJToken),
            cedula: this.cedula
          },
          {
            headers: {
              "Content-Type": "application/json",
              authorization: `Bearer ${
                JSON.parse(localStorage.getItem(this.localPathData))
                  .jsonWebToken
              }`
            }
          }
        )
        .then(resp => {
          if (resp.data.name) {
            this.name = resp.data.name;
            this.email = resp.data.email;
            this.status = resp.data.active;
          } else {
            document.getElementById("btnActualizar").disabled = true;
            document.getElementById("estado").disabled = true;
            document.getElementById("correo").disabled = true;
            document.getElementById("nombre").disabled = true;
            this.alertDangerMessage = `No tienes permisos para actualizar`;
            this.typeOfAlert = "ERROR";
            this.showAlert();
          }
        })
        .catch(err => {
          document.getElementById("btnActualizar").disabled = true;
          document.getElementById("estado").disabled = true;
          document.getElementById("correo").disabled = true;
          document.getElementById("nombre").disabled = true;
          this.alertDangerMessage = `Error al buscar supervisor`;
          this.typeOfAlert = "ERROR";
          this.showAlert();
        });
    },
    actualizarSupervisor: function() {
      axios
        .post(
          this.pathServer + "/updateSupervisor",
          {
            tokenUser: localStorage.getItem(this.localPathJToken),
            cedula: this.cedula,
            name: this.name,
            email: this.email,
            status: this.status,
            password: this.password
          },
          {
            headers: {
              "Content-Type": "application/json",
              authorization: `Bearer ${
                JSON.parse(localStorage.getItem(this.localPathData))
                  .jsonWebToken
              }`
            }
          }
        )
        .then(data => {
          this.cedula = "";
          this.name = "";
          this.email = "";
          this.password = "";
          this.status = false;
          this.alertDangerMessage = `Supervisor actualizado exitosamente`;
          this.typeOfAlert = "SUCCESS";
          this.showAlert();
        })
        .catch(err => {
          this.alertDangerMessage = `Error al actualizar supervisor`;
          this.typeOfAlert = "ERROR";
          this.showAlert();
        });
    },
    showAlert: function() {
      let alertHTML = document.querySelector("#alert");
      alertHTML.classList.add("show");
      alertHTML.style.display = "block";
    },
    closeAlert: function() {
      document.querySelector("#alert").classList.remove("show");
      document.querySelector("#alert").style.display = "none";
      if (this.typeOfAlert === "SUCCESS")
        this.$router.push({ name: "supervisores" });
    }
  },
  watch: {
    // Watch para que cada vez que decidan NO actualizar contraseña, cambie password como undefined
    updatePassword: function(newIdea, oldIdea) {
      if (!newIdea) this.password = undefined;
    }
  },
  mounted: function() {
    this.validateFilledInputs();
    if (this.$route.params.id) {
      this.cedula = this.$route.params.id;
      this.findUser();
    }
  }
};
</script>

<style scoped src="@/assets/css/base.css"></style>
