<template>
  <div id="main" class="bg-white p-5 rounded" style="height: 80vh;">
    <h1 class="pb-3">Usuarios</h1>
    <div class="text-left mb-3">
      <a class="btn btn-primary-project text-white" @click="goToCreateUser">
        Crear
      </a>
    </div>
    <div class="table-responsive overflow-auto" style="border-radius: 10px; height: 80%;">
      <table class="table text-center">
        <thead style="background: #ECECEC; color:var(--main-color);">
          <tr>
            <th><p>Id</p></th>
            <th><p>Nombre</p></th>
            <th><p>Capacidad</p></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="user in users" :key="user.id">
            <th>{{ user.id }}</th>
            <td>{{ user.nameagent }}</td>
            <td>{{ user.capacidad }}</td>
            <td>
              <button
                class="btn btn-secondary-project"
                @click="modificarUsuario(user.id)"
              >
                Modificar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data: function() {
    return {
      users: [],
      pathServer: process.env.VUE_APP_URL_SERVER_EXP,
      localPathData: process.env.VUE_APP_LOCAL_DATA,
      localPathJToken: process.env.VUE_APP_LOCAL_TOKEN
    };
  },
  methods: {
    modificarUsuario(id) {
      this.$router.push({
        name: "userUpdate",
        params: { id: id }
      });
    },
    goToCreateUser() {
      this.$router.push({ name: "user" });
    }
  },
  mounted() {
    axios
      .post(
        this.pathServer + "/callAgents",
        {
          tokenUser: localStorage.getItem(this.localPathJToken)
        },
        {
          headers: {
            "Content-Type": "application/json",
            authorization:
              "Bearer " +
              JSON.parse(localStorage.getItem(this.localPathData)).jsonWebToken
          }
        }
      )
      .then(resp => {
        this.users = resp.data;
      });
  }
};
</script>

<style scoped src="@/assets/css/base.css"></style>
