<template>
  <div class="main w-75 mx-auto">
    <div class="row justify-content-center">
      <div
        class="col"
        style="background:#FAFAFA; box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.09); padding: 34px; margin-bottom:43px;"
      >
        <div class="text-center">
          <strong>
            <h2 class="inicio mb-3">Modificaciones de Tipificaciones</h2>
          </strong>
        </div>

        <div
          class="row w-75 mx-auto rounded-lg text-dark justify-content-center mt-5"
        >
          <span
            class="font-weight-bold mb-3"
            style="color:var(--main-color); font-size: 25px;"
          >
            Tipificaciones actuales
          </span>
        </div>
        <b-alert
          class="text-center"
          v-model="showDismissibleAlert2"
          variant="danger"
        >
          Error modificando la tipificación, no puede haber dos códigos iguales
          <b-img
            style="float:right"
            :src="require('../../assets/img/base/person-err.svg')"
          ></b-img>
        </b-alert>
        <b-alert
          class="text-center"
          v-model="showDismissibleAlert5"
          variant="danger"
        >
          Error eliminando la tipificación
          <b-img
            style="float:right"
            :src="require('../../assets/img/base/person-err.svg')"
          ></b-img>
        </b-alert>
        <b-alert
          class="text-center"
          v-model="showDismissibleAlert3"
          variant="success"
        >
          Se ha actualizado satisfactoriamente la tipificación
        </b-alert>
        <b-alert
          class="text-center"
          v-model="showDismissibleAlert4"
          variant="success"
        >
          Se ha eliminado satisfactoriamente la tipificación
        </b-alert>
        <div class="table-responsive" style="border-radius:10px">
          <table class="table text-center">
            <thead style="background: #ECECEC; color:var(--main-color);">
              <tr>
                <th><p>Código</p></th>
                <th><p>Valor</p></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in typify" v-bind:key="item.idAgent">
                <td>
                  <b-input
                    style=" min-width:100px;"
                    class="text-center"
                    v-model="item.cod"
                    :value="item.cod"
                    v-on:click="reset"
                    v-on:keydown="reset"
                  ></b-input>
                </td>
                <td>
                  <b-textarea
                    style="margin-top: 5px; margin-bottom: 5px; min-width:100px;"
                    class="text-center"
                    v-model="item.value"
                    :value="item.value"
                    v-on:click="reset"
                    v-on:keydown="reset"
                  ></b-textarea>
                </td>
                <td>
                  <b-button v-on:click="change(index)">Modificar</b-button>
                </td>
                <td>
                  <b-button v-on:click="deleteTip(index)">Eliminar</b-button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div
          class="row w-75 mx-auto rounded-lg text-dark justify-content-center mt-5"
        >
          <span
            class="font-weight-bold"
            style="color:var(--main-color); font-size: 25px;"
          >
            Crear nueva Tipificación
          </span>
        </div>
        <div
          class="row w-75 mx-auto rounded-lg justify-content-around mt-3 font-weight-bold flex-nowrap tableAgent"
        >
          <div class="container mt-2" style="max-width: 450px;">
            <div class="">
              <b-form>
                <b-alert
                  class="text-center"
                  v-model="showDismissibleAlert"
                  variant="danger"
                >
                  Error creando la tipificación, no se puede repetir el código
                  <b-img
                    style="float:right"
                    :src="require('../../assets/img/base/person-err.svg')"
                  ></b-img>
                </b-alert>
                <b-alert
                  class="text-center"
                  v-model="showDismissibleAlert6"
                  variant="success"
                >
                  Se ha registrado satisfactoriamente la tipificación
                </b-alert>
                <b-form-group
                  label="Código Tipificacion"
                  label-for="codTip"
                  style="font-weight:bold;"
                  class="s-label"
                >
                  <b-form-input
                    id="codTip"
                    v-model="codTip"
                    type="text"
                    v-on:click="reset"
                    v-on:keydown="reset"
                    required
                    autofocus
                    placeholder="Escribe el código..."
                    class="input-style"
                  ></b-form-input>
                </b-form-group>
                <b-form-group
                  label="Valor Tipificacion"
                  label-for="valueTip"
                  style="font-weight:bold;"
                  class="s-label mt-3 "
                >
                  <b-form-textarea
                    id="valueTip"
                    type="text"
                    v-model="valueTip"
                    v-on:click="reset"
                    v-on:keydown="reset"
                    required
                    placeholder="Escribe el valor..."
                    class="input-style"
                  ></b-form-textarea>
                </b-form-group>
                <center>
                  <br /><b-button
                    type="button"
                    class="button-login mt-1"
                    @click="handleSubmit"
                    :disabled="!!myInput"
                    v-bind:style="{
                      background: buttonActive().back,
                      'border-color': buttonActive().back,
                      cursor: buttonActive().cursor,
                      color: buttonActive().color
                    }"
                  >
                    Ingresar
                  </b-button>
                </center>
              </b-form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="row justify-content-center"
      style="position:fixed; bottom:0px; width:100%; 
          margin-left: 0%;background:var(--main-color); font-size: 12px;"
    >
      <span style="color: white">Powered By </span
      ><span>
        -
        <a href="https://www.montechelo.com.co/" target="_blank"
          >Monte<span style="color: white; ">chelo</span></a
        ></span
      >
    </div>
  </div>
</template>

<script>
import axios from "axios";
require("@/components/Setting/setting.css");

export default {
  components: {},
  data() {
    return {
      publicPath: process.env.BASE_URL,
      pathServer: process.env.VUE_APP_URL_SERVER_EXP,
      localPathData: process.env.VUE_APP_LOCAL_DATA,
      localPathJToken: process.env.VUE_APP_LOCAL_TOKEN,
      localPathState: process.env.VUE_APP_LOCAL_STATE,
      showDismissibleAlert: false,
      showDismissibleAlert2: false,
      showDismissibleAlert3: false,
      showDismissibleAlert4: false,
      showDismissibleAlert5: false,
      showDismissibleAlert6: false,
      imageInputName: require("../../assets/img/base/person.svg"),
      imageInputPass: "",
      imageInputNameUser: "",
      imageInputEmail: "",
      imageInputPass2: "",
      typify: [],
      codTip: "",
      valueTip: ""
    };
  },
  beforeMount() {
    axios
      .post(
        this.pathServer + "/callTypify",
        {
          tokenUser: localStorage.getItem(this.localPathJToken)
        },
        {
          headers: {
            "Content-Type": "application/json",
            authorization:
              "Bearer " +
              JSON.parse(localStorage.getItem(this.localPathData)).jsonWebToken
          }
        }
      )
      .then(resp => {
        this.typify = resp.data;
      });
  },
  methods: {
    buttonActive() {
      if (this.codTip.length <= 0 || this.valueTip.length <= 0) {
        this.myInput = true;
        return {
          back: "#D8D8D8 !important",
          cursor: "not-allowed !important",
          color: "#8F8F8F !important"
        };
      } else {
        this.myInput = false;
        return {
          back: "var(--secondary-color) !important",
          cursor: "pointer !important",
          color: "#fff !important"
        };
      }
    },
    reset() {
      this.showDismissibleAlert = false;
      this.imageInputName = require("../../assets/img/base/person.svg");
      this.imageInputPass = "";
      this.imageInputEmail = "";
      this.imageInputPass2 = "";
      this.imageInputNameUser = " ";
      this.showDismissibleAlert3 = false;
      this.showDismissibleAlert4 = false;
      this.showDismissibleAlert5 = false;
      this.showDismissibleAlert6 = false;
      this.showDismissibleAlert7 = false;
    },
    handleSubmit(e) {
      e.preventDefault();
      if (this.codTip && this.valueTip) {
        axios
          .post(
            this.pathServer + "/saveTypify",
            {
              tokenUser: localStorage.getItem(this.localPathJToken),
              codTip: this.codTip,
              valueTip: this.valueTip
            },
            {
              headers: {
                "Content-Type": "application/json",
                authorization:
                  "Bearer " +
                  JSON.parse(localStorage.getItem(this.localPathData))
                    .jsonWebToken
              }
            }
          )
          .then(response => {
            if (response.data.status && response.data.status === "success") {
              this.showDismissibleAlert6 = true;
              this.typify.push({
                id: response.data.id,
                cod: this.codTip,
                value: this.valueTip
              });
              this.codTip = "";
              this.valueTip = "";
            } else if (response.data === "Error") {
              this.showDismissibleAlert = true;
            }
          })
          .catch(function(error) {
            console.log(error.response);
          });
      }
    },
    change(index) {
      if (this.typify[index].cod && this.typify[index].value) {
        this.boxTwo = "";
        this.$bvModal
          .msgBoxConfirm("¿Estas seguro de modificar la tipificación?", {
            title: "Please Confirm",
            size: "sm",
            buttonSize: "sm",
            okVariant: "secondary",
            okTitle: "SI",
            cancelVariant: "info",
            cancelTitle: "NO",
            footerBgVariant: "white",
            footerClass: "p-2",
            hideHeader: true,
            centered: true
          })
          .then(value => {
            this.boxTwo = value;
            if (value == true) {
              axios
                .post(
                  this.pathServer + "/updateTypify",
                  {
                    tokenUser: localStorage.getItem(this.localPathJToken),
                    codTip: this.typify[index].cod,
                    valueTip: this.typify[index].value,
                    idTip: this.typify[index].id
                  },
                  {
                    headers: {
                      "Content-Type": "application/json",
                      authorization:
                        "Bearer " +
                        JSON.parse(localStorage.getItem(this.localPathData))
                          .jsonWebToken
                    }
                  }
                )
                .then(resp => {
                  if (resp.status == 200) {
                    if (resp.data === "success") {
                      this.showDismissibleAlert3 = true;
                    } else if (resp.data === "Error") {
                      this.showDismissibleAlert2 = true;
                    }
                  }
                });
            }
          })
          .catch(err => {
            console.log(err);
          });
      } else {
        this.showDismissibleAlert = true;
      }
    },
    deleteTip(index) {
      if (this.typify[index].cod && this.typify[index].value) {
        this.boxTwo = "";
        this.$bvModal
          .msgBoxConfirm("¿Estas seguro de ELIMINAR la tipificación?", {
            title: "Please Confirm",
            size: "sm",
            buttonSize: "sm",
            okVariant: "secondary",
            okTitle: "SI",
            cancelVariant: "info",
            cancelTitle: "NO",
            footerBgVariant: "white",
            footerClass: "p-2",
            hideHeader: true,
            centered: true
          })
          .then(value => {
            this.boxTwo = value;
            if (value == true) {
              axios
                .post(
                  this.pathServer + "/eraseTypify",
                  {
                    tokenUser: localStorage.getItem(this.localPathJToken),
                    idTip: this.typify[index].id
                  },
                  {
                    headers: {
                      "Content-Type": "application/json",
                      authorization:
                        "Bearer " +
                        JSON.parse(localStorage.getItem(this.localPathData))
                          .jsonWebToken
                    }
                  }
                )
                .then(resp => {
                  if (resp.status == 200) {
                    if (resp.data === "success") {
                      this.showDismissibleAlert4 = true;
                      this.typify.splice(index, 1);
                    } else if (resp.data === "Error") {
                      this.showDismissibleAlert5 = true;
                    }
                  }
                });
            }
          })
          .catch(err => {
            console.log(err);
          });
      }
    }
  },
  mounted() {}
};
</script>
<!-- estile login -->
<style scoped src="@/components/Setting/setting.css"></style>
