:root {
  --main-color: #aa0d0a;
  --main-color-hover: #b8223b;
  --secondary-color: #d1463d;
  --secondary-color-hover: #2a2a2e;
}

#main {
  margin-top: 96px;
  margin-left: 69px;
}

#main h1 {
  color: var(--main-color);
  font-weight: bold;
}

.form {
  width: 40%;
}

.btn-secondary-project {
  color: white;
  background-color: var(--secondary-color-hover) !important;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.42);
}

.btn-secondary-project:hover {
  color: white;
  background-color: var(--secondary-color-hover);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.42);
}

.btn-primary-project {
  color: white;
  background-color: var(--main-color);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.42);
}

.btn-primary-project:hover {
  background-color: var(--main-color-hover);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.42);
}

.modal-alerts .show {
  background: rgba(0, 0, 0, 0.8);
}

@media only screen and (max-width: 767px) {
  #main {
    margin-top: 68px;
  }
  .form {
    width: 100%;
  }
}
