@import url('../css/base.css');

.timeContainer {
  border: 2px solid #11c584;
  border-radius: 100px;
  width: 170px;
  max-height: 56px;
}
.timeContainerBreak {
  border: 2px solid #fed70b;
  border-radius: 100px;
  width: 170px;
  max-height: 56px;
}

.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}
.dropdown-toggle {
  color: white !important;
}
.dropdown-toggle::after {
  color: white !important;
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.btn-secondary {
  color: white;
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.btn-secondary:hover {
  color: white;
  background-color: var(--main-color) !important;
  border-color: var(--main-color) !important;
}

.v-sidebar-menu {
  transition: all 700ms;
  z-index: 1031 !important;
}
.v-sidebar-menu.vsm_expanded {
  
}
.v-sidebar-menu.vsm_collapsed {
  padding-top: 108px;
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}
div {
  font-family: Roboto;
}
span {
  font-family: Roboto;
}
@font-face {
  font-family: RobotoItalic;
  src: url("../fonts/Roboto/Roboto-BlackItalic.ttf");
}
h3 {
  font-family: RobotoItalic;
}
p {
  font-family: RobotoItalic;
}
#divFoot {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.btn-secondary {
  color: white !important;
  background-color: var(--main-color) !important;
  border-color: var(--main-color) !important;
}
.btn-secondary:hover {
  color: white;
  background-color: var(--main-color) !important;
  border-color:  var(--main-color) !important;
}
.btn-info {
  color: white;
  background-color:var(--main-color)  !important;
  border-color: var(--main-color) !important;
}
.divIsSelected {
  border-radius: 10px 0px 0px 10px; 
  margin-left:1%; 
  background: var(--main-color-hover)
}
.close{
  color:white !important;
}
.dropdown-toggle{
  color:white !important;
}
.dropdown-toggle::after {
  color:white !important;
}

.v-sidebar-menu.vsm_expanded .vsm--item_open .vsm--link_level-1 {
  color: #fff;
  background-color: var(--secondary-color)
}
.v-sidebar-menu.vsm_collapsed .vsm--mobile-bg {
  background-color: var(--secondary-color)
}
.v-sidebar-menu .vsm--link.vsm--link_level-1.vsm--link_exact-active {
  -webkit-box-shadow: 3px 0px 0px 0px var(--secondary-color) inset;
  box-shadow: 3px 0px 0px 0px var(--secondary-color) inset
}

.v-sidebar-menu.vsm_rtl .vsm--link.vsm--link_level-1.vsm--link_exact-active {
  -webkit-box-shadow: -3px 0px 0px 0px var(--secondary-color) inset;
  box-shadow: -3px 0px 0px 0px var(--secondary-color) inset
}
.v-sidebar-menu.vsm_white-theme .vsm--link_level-1.vsm--link_exact-active,
.v-sidebar-menu.vsm_white-theme .vsm--link_level-1.vsm--link_active {
    -webkit-box-shadow: 3px 0px 0px 0px var(--secondary-color) inset;
    box-shadow: 3px 0px 0px 0px var(--secondary-color) inset
}
.v-sidebar-menu.vsm_white-theme.vsm_expanded .vsm--item.vsm--item_open .vsm--link_level-1 {
  color: #fff;
  background-color: var(--secondary-color)
}
.v-sidebar-menu.vsm_white-theme.vsm_collapsed .vsm--mobile-bg {
  background-color: var(--secondary-color)
}

.v-sidebar-menu.vsm_white-theme.vsm_rtl .vsm--link.vsm--link_level-1.vsm--link_active,
.v-sidebar-menu.vsm_white-theme.vsm_rtl .vsm--link.vsm--link_level-1.vsm--link_exact-active {
  -webkit-box-shadow: -3px 0px 0px 0px var(--secondary-color) inset;
  box-shadow: -3px 0px 0px 0px var(--secondary-color) inset
}

.v-sidebar-menu .vsm--header {
  font-size: 23px !important;
  margin-bottom: 30px;
   margin-top: 30px;
  color: var(--secondary-color);
}