<template>
  <div>
    <b-container fluid>
      <div
        class="row pl-5 pt-4 pr-1"
        style="height:550px; margin-top: 80px; transition: all 700ms; margin-bottom: 40px;"
        v-bind:style="{ 'margin-left': marginCom() }"
      >
        <div class="col-12">
          <Chat />
        </div>
      </div>
      <div
        class="row justify-content-center"
        style="position:fixed; bottom:0px; width:100%; background:var(--main-color); font-size: 12px;"
      >
        <span style="color: white">Powered By </span
        ><span>
          -
          <a href="https://www.montechelo.com.co/" target="_blank"
            >Monte<span style="color: white; ">chelo</span></a
          ></span
        >
      </div>
    </b-container>
  </div>
</template>

<script>
import Chat from "@/components/Chat/Chat.vue";

export default {
  name: "home",
  components: {
    Chat
  },
  data: function() {
    return {
      socket: this.$parent.socket,
      state: this.$parent.state
    };
  },
  methods: {
    marginCom() {
      if (this.$parent.mgleftNav == "50px") {
        return "0px";
      } else {
        return "150px";
      }
    }
  }
};
</script>
<style></style>
