<template>
  <div
    style="margin-top: 80px; transition: all 700ms;"
    v-bind:style="{ 'margin-left': marginCom() }"
  >
    <Control id="main" />
    <div
      class="row justify-content-center"
      style="position:fixed; bottom:0px; width:100%; 
          margin-left: 0%;background:var(--main-color); font-size: 12px;"
    >
      <span style="color: white">Powered By </span
      ><span>
        -
        <a href="https://www.montechelo.com.co/" target="_blank"
          >Monte<span style="color: white; ">chelo</span></a
        ></span
      >
    </div>
  </div>
</template>
<script>
import Control from "@/components/Control/Control.vue";

export default {
  name: "control",
  components: {
    Control
  },
  data: function() {
    return {
      socket: this.$parent.socket
    };
  },
  methods: {
    marginCom() {
      if (this.$parent.mgleftNav == "50px") {
        return "0px";
      } else {
        return "150px";
      }
    }
  }
};
</script>
<style scoped>
#main {
  transition: margin-left 0.5s;
  padding: 16px;
}
</style>
