<template>
  <div class="main w-100 mx-auto">
    <div class="row justify-content-center" style="max-width:100vw">
      <!--chat en vivo-->
      <b-modal :static="true" size="xl" id="bv-modal-example" scrollable>
        <div id="conversacio"></div>
        <template slot="modal-title"> </template>
        <b-container>
          <b-row
            class="p-0"
            style="background:#FAFAFA; box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.09);"
          >
            <b-col cols="3 p-0" class="colConver">
              <div class="p-0" style="height:70vh;">
                <div class="d-flex flex-column columnConversations">
                  <h3
                    class="text-light text-center mt-5 mb-5 "
                    style="font-weight: bold; word-break: break-word;
      "
                  >
                    Conversaciones
                  </h3>
                  <div
                    id="divClick"
                    class="text-center p-1 ml-4"
                    style="border-top: 1px solid #838383;"
                    v-for="(item, index) in items"
                    v-bind:key="item.sockId"
                    v-on:click="
                      toEnd(index);
                      setActive(item, index);
                    "
                  >
                    <div
                      class="row p-2"
                      :class="{ divIsSelected: activeIndex === index }"
                      :key="item.iduser"
                    >
                      <b-img
                        class="col-3 d-flex"
                        style="width:100px; padding: 8px;"
                        :src="
                          require('../../assets/img/base/' +
                            checkChannel(index))
                        "
                      ></b-img>
                      <div class="col-7 d-flex flex-column">
                        <span class="text-light" style="font-weight: bold;"
                          >{{ item.name }}
                        </span>
                        <span class="text-light" :key="componentKey">
                          {{ cutMessage(item.lastMessage) }}
                        </span>
                      </div>
                      <div class="col-2 d-flex" style="padding: 0px;">
                        <span
                          :key="item.count"
                          :class="{ 'd-none': styleNotification(item.count) }"
                          class="paragrahpNoti align-self-center"
                          >{{ item.count }}</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </b-col>
            <b-col cols="9 p-0 border">
              <div class="p-0" style="width:100%">
                <b-container>
                  <b-row>
                    <b-col class="" style="height:69vh;">
                      <div class="bot-web-chat">
                        <div id="winMessagess" class="bot-web-chat_messages">
                          <table class="bot-web-chat_messages-table">
                            <tbody>
                              <tr>
                                <td id="messages">
                                  <div
                                    v-for="item in messagesSockets(messages)"
                                    v-bind:key="item.idMess"
                                  >
                                    <div
                                      v-if="item.who === 'agent'"
                                      class="user-request text-dark d-flex justify-content-around"
                                    >
                                      <div class="chatBubbleAgent">
                                        <span
                                          v-html="
                                            renderMessageRegex(item.message)
                                          "
                                          ><br /></span
                                        ><span
                                          style="float:right; font-size:10px;"
                                          >{{ item.hora }}</span
                                        >
                                      </div>
                                      <img
                                        class="align-self-center"
                                        style="width:30px;height:30px; margin-left: 10px;"
                                        src="../../assets/img/business/icon-agent.svg"
                                      />
                                    </div>
                                    <div
                                      v-else
                                      class="server-response text-light d-flex justify-content-around"
                                    >
                                      <img
                                        class="align-self-center"
                                        style="width:30px;height:30px; margin-right: 10px;"
                                        src="../../assets/img/business/icon-user.svg"
                                      />
                                      <div class="chatBubbleUser">
                                        <span
                                          v-html="
                                            renderMessageRegex(item.message)
                                          "
                                          ><br /></span
                                        ><span
                                          style="float:right; font-size:10px;"
                                          >{{ item.hora }}</span
                                        >
                                      </div>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </b-col>
                  </b-row>
                </b-container>
              </div>
            </b-col>
          </b-row>
        </b-container>
        <div
          slot="modal-footer"
          class="d-flex justify-content-around"
        ></div>
      </b-modal>
      <!--chat en vivo-->
      <div
        class="col"
        style="background:#FAFAFA; box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.09);padding-top: 20px; margin: 0 20px; left:20px; padding-bottom:40px; max-width:88vw;"
      >
        <div class="text-center">
          <strong>
            <h1 class="inicio mb-3">Tablero de Control</h1>
          </strong>
        </div>
        <div class="row">
          <div
            class="col-12 col-md-6"
            style="display:flex; justify-content:center"
          >
            <div class="summary border rounded-lg p-2 m-3 text-center">
              <span class="align-self-center font-weight-bold">
                Conversaciones en Cola</span
              ><br /><br />
              <span :key="numChatsPend" style="font-size: 40px;"
                >{{ numChatsPend }}
                <b-img
                  style="width: 55px;"
                  :src="require('../../assets/img/base/chat_fin.svg')"
                ></b-img
              ></span>
            </div>
          </div>
          <div
            class="col-12 col-md-6"
            style="display:flex; justify-content:center"
          >
            <div class="summary border rounded-lg p-2 m-3 text-center">
              <span class="align-self-center font-weight-bold">
                Conversaciones finalizadas</span
              ><br />
              <span :key="numChatsFin" style="font-size: 40px;"
                >{{ numChatsFin }}
                <b-img
                  style="width: 55px;"
                  :src="require('../../assets/img/base/chat_module.svg')"
                ></b-img
              ></span>
            </div>
          </div>
          <div
            class="col-12 col-md-6"
            style="display:flex; justify-content:center"
          >
            <div class="summary border rounded-lg p-2 m-3 text-center">
              <span class="align-self-center font-weight-bold">
                Cantidad de Mensajes</span
              ><br /><br />
              <span :key="numMsgs" style="font-size: 40px;"
                >{{ numMsgs }}
                <b-img
                  style="width: 55px;"
                  :src="require('../../assets/img/base/chat_msg.svg')"
                ></b-img
              ></span>
            </div>
          </div>
          <div
            class="col-12 col-md-6"
            style="display:flex; justify-content:center"
          >
            <div class="summary border rounded-lg p-2 m-3 text-center">
              <span class="align-self-center font-weight-bold">
                Capacidad Total</span
              ><br /><br />
              <span :key="chatsActual" style="font-size: 40px;"
                >{{ chatsActual }}/{{ capacityTotal }}
                <b-img
                  style="width: 55px;"
                  :src="require('../../assets/img/base/chat_msg.svg')"
                ></b-img
              ></span>
            </div>
          </div>
        </div>
        <div
          class="row w-100 mx-auto rounded-lg text-dark justify-content-center mt-5"
        >
          <span
            class="font-weight-bold mb-3"
            style="color:var(--main-color); font-size: 25px;"
          >
            Agentes Conectados
          </span>
        </div>
        <div class="table-responsive" style="border-radius: 10px;">
          <table class="table text-center">
            <thead style="background:#ECECEC;color:var(--main-color);">
              <tr>
                <th scope="col"><p>Nombre del Agente</p></th>
                <th scope="col"><p>Numero Conversaciones</p></th>
                <th scope="col"><p>Estado</p></th>
                <th scope="col"><p>Tiempo</p></th>
                <th scope="col"><p>Conversaciones en vivo</p></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in agents" v-bind:key="item.idAgent">
                <th scope="row" :key="item.nameAgent">
                  {{ item.nameAgent }}
                </th>
                <td :key="item.numCon">
                  {{ item.numCon }}/{{ item.capacity }}
                </td>
                <td :key="item.state">{{ item.state }}</td>
                <td :key="filterTime(item)">{{ filterTime(item) }}</td>
                <td>
                  <b-img
                    @click="
                      checkChat(index);
                      $bvModal.show('bv-modal-example');
                    "
                    style="width: 40px; cursor:pointer;"
                    :src="require('../../assets/img/base/check-chats.svg')"
                  ></b-img>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
export default {
  name: "Control",
  data: function() {
    return {
      localPathData: process.env.VUE_APP_LOCAL_DATA,
      pathServer: process.env.VUE_APP_URL_SERVER_EXP,
      localPathJToken: process.env.VUE_APP_LOCAL_TOKEN,
      localPathState: process.env.VUE_APP_LOCAL_STATE,
      numChatsPend: 0,
      numChatsFin: 0,
      numMsgs: 0,
      capacityTotal: 0,
      chatsActual: 0,
      agents: [],
      items: [],
      messages: [],
      activeIndex: undefined,
      componentKey: 0
    };
  },
  methods: {
    checkChat(index) {
      this.items = [];
      this.messages = [];
      window.activeConversation = null;
      this.activeIndex = null;

      axios
        .post(
          this.pathServer + "/callConversations",
          {
            idAgent: this.agents[index].idAg,
            tokenUser: localStorage.getItem(this.localPathJToken)
          },
          {
            headers: {
              "Content-Type": "application/json",
              authorization:
                "Bearer " +
                JSON.parse(localStorage.getItem(this.localPathData))
                  .jsonWebToken
            }
          }
        )
        .then(response => {
          this.items = response.data;
          response.data.forEach(async it => {
            this.$parent.socket.emit(
              "Agent-User",
              it.sockid,
              null,
              null,
              null,
              it.channel
            );
            await axios
              .post(
                this.pathServer + "/callConversationAgent",
                {
                  idSocket: it.sockid,
                  idCons: it.conid,
                  tokenUser: localStorage.getItem(this.localPathJToken)
                },
                {
                  headers: {
                    "Content-Type": "application/json",
                    authorization:
                      "Bearer " +
                      JSON.parse(localStorage.getItem(this.localPathData))
                        .jsonWebToken
                  }
                }
              )
              .then(response => {
                let pos = this.searchIndexUser(it.sockid);
                response.data.forEach(e => {
                  this.messages.push(e);
                });
                this.items[pos].lastMessage =
                  response.data[response.data.length - 1].message;
              });
          });
        });
    },
    searchIndexUser(value) {
      let pos = this.items.findIndex(ele => ele.sockid === value);
      return pos;
    },
    filterTime(item) {
      if (item.state == "ONLINE" || item.state == "OCUPADO") {
        return item.timerOnline;
      } else if (item.state == "BREAK") {
        return item.timerBreak;
      }
    },
    setActive(item, index) {
      this.activeIndex = index;
      this.items.iduser = item.iduser;
    },
    checkChannel(index) {
      if (this.items[index].channel === "whatsapp") {
        return "whatsapp.svg";
      } else if (this.items[index].channel === "webchat") {
        return "chat.svg";
      }
    },
    nowHour() {
      var date = new Date();
      var hours = date.getHours();
      var minutes = date.getMinutes();
      var seconds = date.getSeconds();
      var apm = " ";
      if (hours < 10) hours = "0" + hours;
      if (minutes < 10) minutes = "0" + minutes;
      if (hours > 12) {
        apm = "pm";
      } else if (hours == 12) {
        apm = "pm";
      } else {
        apm = "am";
      }
      if (seconds < 10) seconds = "0" + seconds;
      return hours + ":" + minutes + ":" + seconds + " " + apm;
    },
    async toEnd(index) {
      await this.send(index);
      this.toEndChat();
    },
    toEndChat() {
      window.objDiv.scrollTop = window.objDiv.scrollHeight;
    },
    send(index) {
      window.activeConversation = this.items[index].sockid;
      window.useractive = this.items[index].iduser;
      window.idConver = this.items[index].conid;
      window.activeChannel = this.items[index].channel;
      this.items[index].count = 0;
      window.indexActive = index;
    },
    styleDiv() {
      var style = {};
      style.background = "#4B2973";
      return style;
    },
    messagesSockets: function() {
      return this.messages.filter(function(item) {
        return (
          item.socketid === window.activeConversation &&
          item.idcon === window.idConver
        );
      });
    },
    styleNotification(count) {
      if (parseInt(count) === 0) {
        return true;
      } else {
        return false;
      }
    },
    cutMessage(msg) {
      if (msg) {
        var msgshort = msg.substr(0, 5);
        return msgshort + "...";
      } else {
        return null;
      }
    },
    renderMessageRegex(msg) {
      if (msg) {
        let strNew = msg.replace(
          /(http(s)?:\/\/.)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/gm,
          function(url) {
            return '<a target="autoblank" href="' + url + '">' + url + "</a>";
          }
        );
        return strNew + "<br>";
      } else {
        return msg;
      }
    },
    renderMessageRegexBot(msg) {
      if (msg) {
        var strNew = msg.replace(/\*(\S(.*?\S)?)\*/gm, "<strong>$1</strong>");
        var strNews = strNew.replace(/(?:\r\n|\r|\n)/g, "<br>");
        let strLink = strNews.replace(
          /(http(s)?:\/\/.)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/gm,
          function(url) {
            return '<a target="autoblank" href="' + url + '">' + url + "</a>";
          }
        );
        return strLink + "<br>";
      } else {
        return msg;
      }
    }
  },
  beforeMount() {
    let tokenAgent = localStorage.getItem(this.localPathJToken);
    this.$parent.socket.emit("Supervisor", tokenAgent, {
      idSocketAgent: tokenAgent,
      stateAgent: localStorage.getItem(this.localPathState),
      nameAgent: JSON.parse(localStorage.getItem(this.localPathData)).nameAgent
    });
  },
  mounted() {
    window.objDiv = document.getElementById("winMessagess");

    this.$parent.socket.on("cola_chats", payload => {
      this.numChatsPend = payload.chatP;
      this.numChatsFin = payload.chatF;
      this.agents = payload.agents;
      this.numMsgs = payload.allMsg;
      this.capacityTotal = 0;
      this.chatsActual = 0;
      payload.agents.forEach(element => {
        this.capacityTotal = this.capacityTotal + element.capacity;
        this.chatsActual = this.chatsActual + element.numCon;
      });
    });

    this.$parent.socket.on("private-message", async data => {
      if (data.messageUser != null) {
        await this.messages.push({
          socketid: data.socketIdUser,
          message: data.messageUser,
          idcon: parseInt(data.idCon),
          hora: this.nowHour(),
          who: data.who,
          count: 1
        });
        let pos = this.searchIndexUser(data.socketIdUser);
        this.items[pos].lastMessage = data.messageUser;
        this.toEndChat();
      }
    });
  }
};
</script>
<style scoped>
.inicio {
  color: var(--main-color);
  font-size: 50px;
  font-weight: bold;
}
.summary {
  min-height: 100px;
  max-height: 150px;
  min-width: 200px;
  max-width: 200px;
  color: var(--secondary-color-hover);
  background: #ececec;
  box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.09);
}
.tableAgent {
  color: var(--main-color);
  min-height: 45px;
  background: #ececec;
  box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.09);
}
.tableAgents {
  min-height: 45px;
  background: rgb(229, 230, 238);
  box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.09);
}
.colTable {
  border-right: solid 1.4px rgb(197, 197, 197);
}
</style>
