<template>
  <div class="container pt-5 text-center">
      <GroupsList />
  </div>
</template>

<script>
import GroupsList from '@/components/User/GroupsList.vue';
export default {
    components: {
        GroupsList
    }
}
</script>

<style>

</style>