<template>
<div class="container pt-5 text-center">
    <register-supervisor></register-supervisor>
</div>
</template>

<script>
import RegisterSupervisor from "../../components/User/RegisterSupervisor.vue";
export default {
  components: {
    RegisterSupervisor
  },
  name: "supervisor",
  data: function() {
    return {};
  }
};</script>

<style></style>
