<template>
  <div class="container pt-5 text-center">
    <supervisores></supervisores>
  </div>
</template>

<script>
import Supervisores from "../../components/User/Supervisores";
export default {
  components: {
    Supervisores
  },
  data: function() {
    return {};
  }
};
</script>

<style></style>
