<template>
  <div class="container pt-5 text-center">
    <UsersList />
  </div>
</template>

<script>
import UsersList from "@/components/User/UsersList.vue";
export default {
    components: {
        UsersList
    }
};
</script>
