<template>
  <div id="app">
    <sidebar-menu
      :menu="menu"
      :collapsed="collapsed"
      :width="width"
      :widthCollapsed="widthCollapsed"
      v-bind:style="{ paddingTop: paddingTop }"
      @toggle-collapse="onToggleCollapse"
      @item-click="onItemClick"
    />
    <!--
      Modales
    -->
    <b-modal id="bv-modal-alto" title="Alto!" hide-footer="" scrollable>
      <p class="my-4">
        Tienes que finalizar todas las conversaciones antes de cerrar sesión
      </p>
    </b-modal>
    <!-- -->
    <b-navbar
      fixed="top"
      toggleable="md"
      style="background:var(--main-color); transition: all 700ms;left:0; z-index:2000;width:100vw;"
      class="text-light p-2 navbar-dark"
      v-if="!(this.$router.currentRoute.path === '/Login')"
    >
      <b-navbar-brand class="d-flex sm"
        ><img
          style="width:114px;height:32px;margin-left: 13%;"
          src="./assets/img/business/navbar-brand.svg"
      /></b-navbar-brand>

      <b-navbar-toggle
        target="nav-collapse"
        v-bind:style="{ display: navDis }"
      ></b-navbar-toggle>
      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav class="ml-auto">
          <div
            class="timeContainer align-self-center flex-column m-2"
            v-bind:style="{ display: showTimeOnline() }"
          >
            <span
              class="align-self-center text-light"
              :class="{ 'd-none': isActive }"
              >Tiempo Online </span
            ><span
              class="align-self-center text-light"
              :class="{ 'd-none': isActive }"
              :key="seconds_online"
            >
              {{ seconds_online }}</span
            >
          </div>
          <div
            class="timeContainerBreak align-self-center flex-column m-2"
            v-bind:style="{ display: showTimeBreak() }"
          >
            <span
              class="align-self-center text-light"
              :class="{ 'd-none': isActive }"
              >Tiempo en Break </span
            ><span
              class="align-self-center text-light"
              :class="{ 'd-none': isActive }"
              :key="seconds_break"
              >{{ seconds_break }}</span
            >
          </div>
          <div style="width:140px"></div>
          <div class="align-self-center d-flex flex-column text-right">
            <span class="text-light" style="font-size: 20px;font-weight: bold;"
              >{{ nameAgent }}
            </span>
            <span class="text-light"> {{ idAgent }}</span>
          </div>
          <div class="align-self-center">
            <b-nav-item-dropdown variant="link" class="text-light" right>
              <template slot="button-content">
                <img
                  style="width:64px; position:relative;"
                  src="./assets/img/business/icon-agent.svg"
                />
                <b-img
                  style="position:fixed; right:20px;top:55px;position:absolute;"
                  :src="require('./assets/img/base/' + checkStateAgent())"
                ></b-img>
              </template>
              <div class="d-flex flex-column justify-content-around">
                <span
                  class="border-bottom"
                  style="color:var(--main-color); font-weight: bold;"
                  >Estado</span
                >
                <b-dropdown-item
                  class="border-bottom"
                  @click="
                    state = 'ONLINE';
                    estado();
                  "
                  ><span>Online </span>
                  <b-img
                    :src="require('./assets/img/base/' + checkState())"
                  ></b-img>
                </b-dropdown-item>

                <b-dropdown-item
                  class="border-bottom"
                  @click="
                    state = 'BREAK';
                    estado();
                  "
                  ><span>Break </span
                  ><b-img
                    :src="require('./assets/img/base/' + checkStateBreak())"
                  ></b-img>
                </b-dropdown-item>

                <b-dropdown-item
                  class="border-bottom"
                  @click="
                    state = 'OCUPADO';
                    estado();
                  "
                  ><span>Ocupado </span
                  ><b-img
                    :src="require('./assets/img/base/' + checkStateOcp())"
                  ></b-img
                ></b-dropdown-item>
                <b-dropdown-item @click="confirmOff()"
                  ><span style="color:var(--main-color); font-weight: bold;"
                    >Cerrar Sesión </span
                  ><img src="./assets/img/base/exit.svg"
                /></b-dropdown-item>
              </div>
            </b-nav-item-dropdown>
          </div>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <router-view> </router-view>
  </div>
</template>
<script>
import io from "socket.io-client";
import axios from "axios";

import { SidebarMenu } from "vue-sidebar-menu";
import "vue-sidebar-menu/dist/vue-sidebar-menu.css";
import "@fortawesome/fontawesome-free/css/all.css";

require("@/assets/css/styleNavBar.css");

export default {
  name: "app",
  components: {
    SidebarMenu
  },
  data: function() {
    return {
      publicPath: process.env.BASE_URL,
      pathServer: process.env.VUE_APP_URL_SERVER_EXP,
      localPathData: process.env.VUE_APP_LOCAL_DATA,
      localPathJToken: process.env.VUE_APP_LOCAL_TOKEN,
      localPathState: process.env.VUE_APP_LOCAL_STATE,
      isActive: true,
      isTime: "none",
      navDis: "none",
      state: "SELECCIONA ALGUNO ESTADO",
      socket: io.connect("https://chatbots.montechelo.com.co", {
        path: "/widget/upb/socket.io",
        forceNew: true
      }),
      seconds_online: "00:00:00",
      seconds_break: "00:00:00",
      nameAgent: "",
      idAgent: "",
      mgleftNav: "50px",
      boxTwo: "",
      menu: [
        {
          header: true,
          title: "Menu Principal",
          hiddenOnCollapse: true
        },
        {
          href: "/",
          title: "Inbound",
          icon: "far fa-comment-dots",
          hidden: false
        },
        {
          href: "/control",
          title: "Tablero Control",
          icon: "fa fa-chart-area",
          hidden: false
        },
        {
          href: "/users",
          title: "Usuarios",
          icon: "fas fa-user-friends",
          hidden: false,
        },
        {
          href: "/groups",
          title: "Grupos",
          icon: "fas fa-object-group",
          hidden: false
        },
        {
          title: "Configuraciones",
          icon: "fas fa-cogs",
          hidden: false,
          child: [
            {
              href: "/settings",
              title: "Horarios",
              icon: "far fa-calendar-alt"
            },
            {
              href: "/settings/capacity",
              title: "Capacidad",
              icon: "far fa-comments"
            },
            {
              href: "/settings/tipificaciones",
              title: "Tipificaciones",
              icon: "fas fa-pencil-alt"
            },
            {
              href: "/settings/atajos",
              title: "Atajos Chat",
              icon: "far fa-file-alt"
            },
            {
              href: "/settings/tmo",
              title: "TMO",
              icon: "far fa-clock"
            },
            {
              href: "/settings/qr",
              title: "QR Whatsapp",
              icon: "fas fa-qrcode"
            }
          ]
        },
        {
          title: "Supervisores",
          href: "/supervisores",
          icon: "fas fa-user-friends",
          hidden: false
        },
          {
           title: "Data para descargar ",
           icon: "fas fa-database",
           hidden: false,
           child: [
             {
               href: "/data",
               title: "Formulario",
               icon: "fas fa-database"
             },
             {
               href: "/dataChat",
               title: "Tiempos Chat",
               icon: "fas fa-database"
             },
             {
               href: "/dataBot",
               title: "Conversación Bot",
               icon: "fas fa-database"
             } 
             
           ]
         },
      ],
      collapsed: true,
      width: "220px",
      widthCollapsed: "52px",
      paddingTop: ""
    };
  },
  methods: {
    onToggleCollapse() {
      if (this.mgleftNav == "220px") {
        this.mgleftNav = "50px";
        this.paddingTop = "";
      } else {
        this.mgleftNav = "220px";
        this.paddingTop = "65px";
      }
    },
    onItemClick(event, item) {},
    checkState() {
      if (this.state === "ONLINE") {
        return "online.svg";
      } else {
        return "offbutton.svg";
      }
    },
    checkStateBreak() {
      if (this.state === "BREAK") {
        return "break.svg";
      } else {
        return "offbutton.svg";
      }
    },
    checkStateOcp() {
      if (this.state === "OCUPADO") {
        return "ocupado.svg";
      } else {
        return "offbutton.svg";
      }
    },
    checkStateAgent() {
      if (this.state === "ONLINE") {
        return "elipse-online.svg";
      } else if (this.state === "BREAK") {
        return "elipse-break.svg";
      } else if (this.state === "OCUPADO") {
        return "elipse-ocupado.svg";
      } else {
        return "elipse-offline.svg";
      }
    },
    showTimeBreak() {
      if (
        this.seconds_break === null ||
        this.seconds_break === "" ||
        this.seconds_break === "00:00:00"
      )
        return "none";
      else return "flex";
    },
    showTimeOnline() {
      if (
        this.seconds_online === null ||
        this.seconds_online === "" ||
        this.seconds_online === "00:00:00"
      )
        return "none";
      else return "flex";
    },
    confirmOff() {
      axios
        .post(
          this.pathServer + "/callConversations",
          {
            idAgent: JSON.parse(localStorage.getItem(this.localPathData))
              .idAgent,
            tokenUser: localStorage.getItem(this.localPathJToken)
          },
          {
            headers: {
              "Content-Type": "application/json",
              authorization:
                "Bearer " +
                JSON.parse(localStorage.getItem(this.localPathData))
                  .jsonWebToken
            }
          }
        )
        .then(data => {
          console.log(data.data);
          if (data.data.length > 0) {
            this.$bvModal.show("bv-modal-alto");
          } else {
            this.boxTwo = "";
            this.$bvModal
              .msgBoxConfirm("¿Estas seguro de desconectarte?", {
                title: "Please Confirm",
                size: "sm",
                buttonSize: "sm",
                okVariant: "secondary",
                okTitle: "SI",
                cancelVariant: "info",
                cancelTitle: "NO",
                footerBgVariant: "white",
                footerClass: "p-2",
                hideHeader: true,
                centered: true
              })
              .then(value => {
                this.boxTwo = value;
                if (value == true) {
                  if (
                    this.seconds_online != "00:00:00" &&
                    this.seconds_online != "" &&
                    this.seconds_online
                  ) {
                    axios.post(
                      this.pathServer + "/saveStateAgent",
                      {
                        state: "ONLINE",
                        idAgent: JSON.parse(
                          localStorage.getItem(this.localPathData)
                        ).idAgent,
                        tokenUser: localStorage.getItem(this.localPathJToken),
                        totalTime: this.seconds_online
                      },
                      {
                        headers: {
                          "Content-Type": "application/json",
                          authorization:
                            "Bearer " +
                            JSON.parse(localStorage.getItem(this.localPathData))
                              .jsonWebToken
                        }
                      }
                    );
                  }
                  if (
                    this.seconds_break != "00:00:00" &&
                    this.seconds_break != "" &&
                    this.seconds_break
                  ) {
                    axios.post(
                      this.pathServer + "/saveStateAgent",
                      {
                        state: "BREAK",
                        idAgent: JSON.parse(
                          localStorage.getItem(this.localPathData)
                        ).idAgent,
                        tokenUser: localStorage.getItem(this.localPathJToken),
                        totalTime: this.seconds_break
                      },
                      {
                        headers: {
                          "Content-Type": "application/json",
                          authorization:
                            "Bearer " +
                            JSON.parse(localStorage.getItem(this.localPathData))
                              .jsonWebToken
                        }
                      }
                    );
                  }
                  this.state = "OFFLINE";
                  this.estado();
                  this.seconds_online = "00:00:00";
                  this.seconds_break = "00:00:00";
                  this.isActive = true;
                  this.navDis = "none";
                  localStorage.removeItem(this.localPathJToken);
                  localStorage.removeItem(this.localPathData);
                  localStorage.removeItem(this.localPathState);
                  this.$router.push({ name: "login" });
                }
              })
              .catch(err => {});
          }
        })
        .catch(err => {
          this.state = "OFFLINE";
          this.estado();
          this.seconds_online = "00:00:00";
          this.seconds_break = "00:00:00";
          this.isActive = true;
          this.navDis = "none";
          localStorage.removeItem(this.localPathJToken);
          localStorage.removeItem(this.localPathData);
          localStorage.removeItem(this.localPathState);
          this.$router.push({ name: "login" });
        });
    },
    estado() {
      let tokenAgent = localStorage.getItem(this.localPathJToken);
      axios
        .post(
          this.pathServer + "/checkAgent",
          {
            idAgent: JSON.parse(localStorage.getItem(this.localPathData))
              .idAgent,
            tokenUser: localStorage.getItem(this.localPathJToken)
          },
          {
            headers: {
              "Content-Type": "application/json",
              authorization:
                "Bearer " +
                JSON.parse(localStorage.getItem(this.localPathData))
                  .jsonWebToken
            }
          }
        )
        .then(resp => {
          if (resp.data === "success") {
            if (this.state == "ONLINE") {
              this.socket.emit("Agent", tokenAgent, {
                checkCola: tokenAgent,
                newStat: this.state
              });
            } else {
              this.socket.emit("Agent", tokenAgent, { newState: this.state });
            }
          } else if (resp.data === "Fail") {
            if (this.state == "ONLINE") {
              this.socket.emit("Supervisor", tokenAgent, {
                checkCola: tokenAgent,
                newStat: this.state
              });
            } else {
              this.socket.emit("Supervisor", tokenAgent, {
                newState: this.state
              });
            }
          }
        });
      localStorage.setItem(this.localPathState, this.state);
    },
    hasOneDayPassed() {
      // get today's date. eg: "7/37/2007"
      var date = new Date().toLocaleDateString();
      // if there's a date in localstorage and it's equal to the above:
      // inferring a day has yet to pass since both dates are equal.
      if (localStorage.getItem("date_app_bh") == date) return false;
      // this portion of logic occurs when a day has passed
      localStorage.setItem("date_app_bh", date);
      return true;
    },
    // some function which should run once a day
    runOncePerDay() {
      if (!this.hasOneDayPassed()) return false;
      localStorage.removeItem(this.localPathData);
      localStorage.removeItem(this.localPathState);
      localStorage.removeItem(this.localPathJToken);
    }
  },
  beforeMount: function() {
    this.runOncePerDay();
    if (localStorage.getItem(this.localPathData)) {
      window.idAg = JSON.parse(
        localStorage.getItem(this.localPathData)
      ).idAgent;
      this.nameAgent = JSON.parse(
        localStorage.getItem(this.localPathData)
      ).nameAgent;
      this.idAgent = JSON.parse(
        localStorage.getItem(this.localPathData)
      ).idAgent;
      axios
        .post(
          this.pathServer + "/checkSup",
          {
            idAgent: JSON.parse(localStorage.getItem(this.localPathData))
              .idAgent,
            tokenUser: localStorage.getItem(this.localPathJToken)
          },
          {
            headers: {
              "Content-Type": "application/json",
              authorization:
                "Bearer " +
                JSON.parse(localStorage.getItem(this.localPathData))
                  .jsonWebToken
            }
          }
        )
        .then(resp => {
          if (resp.data === "success") {
            this.menu[1].hidden = true;
            this.menu[6].hidden = true;
          } else {
            axios
              .post(
                this.pathServer + "/checkAdministrador",
                {
                  idAgent: JSON.parse(localStorage.getItem(this.localPathData))
                    .idAgent,
                  tokenUser: localStorage.getItem(this.localPathJToken)
                },
                {
                  headers: {
                    "Content-Type": "application/json",
                    authorization:
                      "Bearer " +
                      JSON.parse(localStorage.getItem(this.localPathData))
                        .jsonWebToken
                  }
                }
              )
              .then(resp => {
                if (resp.data === "success") {
                  this.menu[1].hidden = true;
                  this.menu[2].hidden = true;
                  this.menu[3].hidden = true;
                  this.menu[4].hidden = true;
                  this.menu[5].hidden = true;
                  this.menu[6].hidden = false;
                } else {
                  this.menu[1].hidden = true;
                  this.menu[2].hidden = true;
                  this.menu[3].hidden = true;
                  this.menu[4].hidden = true;
                  this.menu[5].hidden = true;
                  this.menu[6].hidden = true;
                }
              });
          }
        });
    }
    this.socket.off("timer_online");
    this.socket.off("timer_break");
    this.socket.off("new_info");
    if (localStorage.getItem(this.localPathState)) {
      this.state = localStorage.getItem(this.localPathState);
    }
  },
  mounted: function() {
    this.menu[5].hidden = false;
    this.socket.on("timer_online", data => {
      this.seconds_online = data;
    });
    this.socket.on("timer_break", data => {
      this.seconds_break = data;
    });
    this.socket.on("new_info", data => {
      let tokenAgent = localStorage.getItem(this.localPathJToken);
      if (data.agent == tokenAgent) {
        let dataJson = JSON.parse(localStorage.getItem(this.localPathData));
        dataJson.capacity = data.capacity;
        localStorage.setItem(this.localPathData, JSON.stringify(dataJson));
        this.socket.emit("Agent", tokenAgent, {
          checkCola: tokenAgent
        });
      }
    });
    if (localStorage.getItem(this.localPathJToken)) {
      this.isActive = false;
      this.navDis = "";
    }
  }
};
</script>

<style scoped src="@/assets/css/styleNavBar.css"></style>
